{{#partial "title" }}
    Your Hero
{{/partial}}


{{#partial "content"}}

    <h1>Your Hero</h1>

    <p>hero's superpower: {{ superpower }}</p>

    <p>hero's age:  {{ heroAge }}</p>

{{/partial}}

{{> layout.hbs}}