{{#partial "title" }}
    Your Squad
{{/partial}}


{{#partial "content"}}

    <h1 class="h1 mb-3 text-center">Your Squad</h1>
    <div class="row">
    <div class="col-md-9">
        <p><strong>squad motive : </strong><br class="br mt-3"> <li>{{ motive }} </li>  </p>
    </div>
    <div class="col-md-3">
       <p> <strong>squad magnitude: </strong><br class="br mt-3">  <li>{{ squadMagnitude }} </li> </p>
    </div>
    </div>
    <br><button><a href='/' >Go Back</a></button>
{{/partial}}

{{> layout.hbs}}