{{#partial "title" }}
    Your Squad
{{/partial}}


{{#partial "content"}}

    <h1>Your Squad</h1>

    <p>squad motive : {{ motive }}</p>

    <p>squad magnitude:  {{ squadMagnitude }}</p>

{{/partial}}

{{> layout.hbs}}